@page "/"

<h1>Draggable Window</h1>

Here is an example of a fully Blazor managed Draggable Window.

<DraggableWindow>
    <Header>
        <div style="padding: 0.3rem">
            <div class="--center">Header</div>
        </div>
    </Header>

    <Body>
        <div style="padding: 1rem;">
            I am the body!
        </div>
    </Body>
</DraggableWindow>